---
import Layout from '../layouts/Layout.astro'
import Timeline from '../components/about/Timeline.astro'
import { SITE_TITLE, SITE_DESCRIPTION, JOB_TITLE } from '../consts'
//画像ファイルをインポート//
import profileImage from '../assets/profile.jpg' 

const myName = 'Miharu Koiwa'
---

<Layout title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <main class='page-container'>
    <h1 class='gradient-text page-title'>About</h1>

    <div class='profile'>
      <img src={profileImage.src} alt={myName} class='profile-image' />
      <div class='profile-info'>
        <h2>{myName}</h2>
        <p class='job-title'>{JOB_TITLE}</p>
      </div>
    </div>

    <section class='introduction'>
      <h3>プロフィール</h3>
      <p>石川県出身、現在は愛知県に住んでいます。</p>
      <p>
        社内DX化の仕事に従事しながら、Web エンジニアになるため学習中。
      </p>
    </section>

    <section class='experience'>
      <h3>経歴</h3>

      <Timeline date='2024年 - 現在' title='技術者派遣会社'>
        <p>
          生活インフラを支える会社に配属され、社内のＤＸ化を推進やそのほか社内業務に従事
        </p>
        <ul>
          <li>電子申請の推進</li>
          <li>公式ホームページの運用</li>
        </ul>
        <p>など</p>
      </Timeline>

      <Timeline date='2017 - 2024年' title='貿易事務'>
        <p>
          英語を使った仕事がしたくて、物流会社に就職
        </p>
        <ul>
          <li>輸出入の書類作成</li>
          <li>海外代理店との調整</li>
          <li>輸出入貨物の国内輸送の調整</li>
        </ul>
        <p>など</p>
      </Timeline>

    </section>
  </main>
</Layout>

<style>
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2rem;
  }

  .profile-info h2 {
    font-size: 1.75rem;
  }

  .job-title {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 0;
  }

  section {
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  @media (max-width: 720px) {
    .profile {
      flex-direction: column;
      text-align: center;
    }

    .profile-image {
      width: 120px;
      height: 120px;
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }
</style>