---
import Layout from '../layouts/Layout.astro'
import Timeline from '../components/about/Timeline.astro'
import { SITE_TITLE, SITE_DESCRIPTION, JOB_TITLE } from '../consts'

const myName = '小岩 美晴 - Miharu Koiwa'
---

<Layout title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <main class='page-container'>
    <h1 class='gradient-text page-title'>About</h1>

    <div class='profile'>
      <img src={`${import.meta.env.BASE_URL}/blog-placeholder-about.jpg`} alt={myName} class='profile-image' />
      <div class='profile-info'>
        <h2>{myName}</h2>
        <p class='job-title'>{JOB_TITLE}</p>
      </div>
    </div>

    <section class='introduction'>
      <h3>プロフィール</h3>
      <p>1991年11月18日生まれ、石川県出身。</p>
      <p>
        社内DX化の仕事に従事しながら、Web エンジニアになるため学習中。
        <br />
        説明
      </p>
    </section>

    <section class='experience'>
      <h3>経歴</h3>

      <Timeline date='20XX年 - 現在' title='タイトル'>
        <p>
          説明
          <br />
          説明2
        </p>
        <ul>
          <li>仕事内容</li>
          <li>仕事内容</li>
          <li>仕事内容</li>
        </ul>
        <p>など</p>
      </Timeline>

      <Timeline date='20XX - 20XX年' title='タイトル'>
        <p>
          説明
        </p>
      </Timeline>

      <Timeline date='20XX - 20XX年' title='タイトル'>
        <p>説明</p>
      </Timeline>

      <Timeline date='20XX - 20XX年' title='タイトル'>
        <p>説明</p>
      </Timeline>
    </section>
  </main>
</Layout>

<style>
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2rem;
  }

  .profile-info h2 {
    font-size: 1.75rem;
  }

  .job-title {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 0;
  }

  section {
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  @media (max-width: 720px) {
    .profile {
      flex-direction: column;
      text-align: center;
    }

    .profile-image {
      width: 120px;
      height: 120px;
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }
</style>